@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;420;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,420;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,420;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,420;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,420;1,600;1,700;1,800;1,900&family=Roboto:wght@300&display=swap');

@media (orientation:portrait) and (max-width:420px){
    .btn-container{
        display: flex;
        flex-direction: column;
    }
}
@media (orientation:landscape) and (max-height:500px){ 

    .btn-container{
        display: flex;
        flex-direction: row;
    }
}

body{
    background-color:#181818;
    font-family:'Noto Sans Mono';
    color:#F2F2F2;
    text-align: center;
    font-size: 1.7vmax;
}
h1{
    font-size: 2.5vmax;
}
.main{
    display: flex;
    flex-direction: column;
    width:100%;
    padding-top: 3vmax;
}
.btn-container {
    justify-content: center;
    align-items: center;
    align-content: center;
}
button{
    all:unset;
    background-color: #8758FF;
    height:4vmax;
    width:25vmax;
    border-radius: 20px;
    border:3px solid #A6D1E6;
    margin: 1vmax;
}

button:hover{
    background-color:#51b0df;
}
button:active{
    background-color: #59b4e1;
    border-color:#3D3C42;
    color: #686868;
}
.save-hist{
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    margin:3vmax;
    font-size: 2vmax;
}